.course_card {
  background-color: var(--white);
  border: 1px solid var(--border_color);
  box-shadow: var(--box_shadow);
  position: relative;

  &__image {
    img {
      width: 100%;
    }
  }

  &__price {
    display: inline-block;
    padding: 10px;
    background-color: var(--accent_1_color);
    color: var(--white);
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__description {
    text-align: center;
    padding: 30px;
    a {
      color: inherit;
      text-decoration: none;
    }

    h2 {
      font-family: var(--heading_font);
      font-size: 1.25rem;
      color: var(--heading_color);
      margin-top: 0;
      margin-bottom: 1rem;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &__price + &__description {
    padding-top: 35px;
  }

  &__footer {
    padding: 20px;
    border-top: 1px solid var(--border_color);
    text-align: center;
    line-height: 1.2;
  }

  &__lesson_count {
    display: block;
    font-weight: bold;
  }
}
