html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--body_font);
  background-color: var(--background_color);
  color: var(--text_color);
  font-size: 100%;
  line-height: 1.4;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: 60px auto;
}
